.siklls {

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-left: 20px;
    background-color: aliceblue;

}

pre {
    font-size: 25px;
}

.siklls img {
    width: 500px;
    height: 500px;
}