.my-bio {
    margin-top: 180px;
    font-size: 18px;

}

.name-style {
    color: orangered;
    font-size: 20px;
    font-weight: 700;
}

.profile {
    margin-top: 200px;

}

.profile img {
    width: 500px;

}