/* .Headers nav {
    background-color: black;
    height: 50px;


}

.Headers nav a {

    margin-right: 25px;
    text-decoration: none;
    color: white;
    align-items: center;
    margin-left: 40px;




}

.Headers nav a:hover {
    color: blue;
} */